{% extends 'base.html' %}

{% block head %}
<title>Add new pets</title>
{% endblock %}

{% block body %}
  <div align="center" id="content">
    <h1>Add new Pets</h1>
    <form action="/pets-market/modify/{{ pet.id }}", method="POST">
      <label for="petname">Pet name</label>
      <input type="text" name="pet_name" id="pet_name" value="{{ pet.name }}"/>
      <br>
      <label for="petname">Pet age</label>
      <input type="number" name="pet_age" id="pet_age" />
      <br>
      <input type="submit" value="submit"/>
    </form>
  </div>
{% endblock %}
